<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/mainLayout">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="content" layout:fragment="content">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Thêm Nhân Viên</h4>
						</div>
						<div class="card-content">
							<form method="get" action="/admin/insert-staff-process"
								class="form-horizontal">
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label">Họ Tên</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" name="name_staff">
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label">Email</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" name="email">
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label">Mật Khẩu</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" name="password">
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label">SĐT</label>
										<div class="col-sm-10">
											<input type="number" class="form-control" name="sdt">
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label">Quyền</label>
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-6">
													<select class="selectpicker"
														data-style="btn btn-danger btn-block"
														title="Chọn Vị Trí - Chức Vụ" data-size="7"
														name="id_role">
														<option th:each="list : ${listRole}"
															th:value="${list.idRole}"
															th:text="${list.nameRole}"></option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</fieldset>

								<div class="row">
									<div class="col-sm-4"></div>
									<div class="col-sm-8">
										<button class="btn btn-warning btn-fill btn-wd" type="submit">Xác
											Nhận</button>
									</div>
								</div>

							</form>
						</div>

					</div>


				</div>



			</div>
		</div>
	</div>
</body>
</html>