<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/mainLayout">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div class="content" layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10"></div>
				<div class="col-md-2">
					<a href="/admin/insert-role" class="btn btn-wd btn-info btn-fill btn-rotate">Thêm
						Quyền</a>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Striped Table</h4>
							<p class="category">Here is a subtitle for this table</p>
						</div>
						<div class="card-content table-responsive table-full-width">
							<table class="table table-striped">
								<thead>
									<th>ID-Quyền</th>
									<th>Tên Quyền </th>
									<th>Code-Quyền</th>																		
									<th>Action</th>
								</thead>
								<tbody th:each="info : ${listRole}">
								
									<tr>
										<td th:text="*{info.idRole}"></td>
										<td th:text="*{info.nameRole}"></td>
										<td th:text="*{info.codeRole}"></td>
										<td>
										<a href="" class="btn btn-sm btn-fill">See</a>
										<a th:href="@{'/admin/delete-role?idRole='+${info.idRole}}" class="btn btn-sm btn-fill">Delete</a> 
										<a th:href="@{'/admin/form-update-role?idRole='+${info.idRole}}" class="btn btn-sm btn-fill">Update</a>										
										</td>
									</tr>
								</tbody>	
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>