<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/mainLayout">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div class="content" layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10"></div>
				<div class="col-md-2">
					<a href="/admin_phone/insert-screen" class="btn btn-wd btn-info btn-fill btn-rotate">Thêm Chi Tiết Màn Hình</a>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Màn Hình Điện Thoại</h4>
							<p class="category">Tất cả thông tin về màn hình điện thoại sẽ hiển thị tại đây</p>
						</div>
						<div class="card-content table-responsive table-full-width">
							<table class="table table-striped">
								<thead>
									<th>ID-Screen</th>
									<th>Công Nghệ Screen </th>	
									<th>Độ Phân Giải</th>													
									<th>Action</th>
								</thead>
								<tbody th:each="info : ${listScreen}">
								
									<tr>
										<td th:text="*{info.idScreen}"></td>
										<td th:text="*{info.technologyScreen}"></td>
										<td th:text="*{info.doPhanGiai}"></td>
										<td>
										<a href="" class="btn btn-sm btn-fill">See</a>
										<a th:href="@{'/admin_phone/delete-screen?idScreen='+${info.idScreen}}" class="btn btn-sm btn-fill">Delete</a> 
										<a th:href="@{'/admin_phone/update-screen?idScreen='+${info.idScreen}}" class="btn btn-sm btn-fill">Update</a>										
										</td>
									</tr>
								</tbody>	
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>