<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/mainLayout">
<head>
<meta charset="UTF-8">
</head>
<body class="blog-post" layout:fragment="content">
	<div class="wrapper">

		  <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg24.jpg') ;">
            </div>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Bài Viết Giới Thiệu Sản Phẩm</h2>
                        <h4>Các Thông Số Và Cấu Hình</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
		<div class="blogs-4" id="blogs-4">
			<div class="container">
				<div class="row">
					<div class="col-md-8 ml-auto mr-auto">
					
						<br />
						
						<div class="card card-plain card-blog">
							<div class="card-image">
								 <img class="img img-raised rounded"
									th:src="@{${gioiThieu.image}}" />
								
							</div>
							<h6 class="category text-success" th:text="${gioiThieu.loaiDienThoai}"></h6>
							<h3 class="card-title" th:text="${gioiThieu.title}">
								
							</h3>
							<h5 class="card-description" th:text="${gioiThieu.post}"></h5>
						
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>