<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/mainLayout">
<head>
<meta charset="UTF-8">
</head>
<body layout:fragment="content">
	<div class="wrapper">
		<div class="page-header clear-filter" filter-color="orange">
			<div class="page-header-image" data-parallax="true"
				style="background-image:;"></div>
			<div class="rellax-header rellax-header-sky" data-rellax-speed="-8">
				<div class="page-header-image"
					style="background-image: url('../../assets/img/presentation-page/nuk-pro-back-sky.jpg')">
				</div>
			</div>
			<div class="rellax-header rellax-header-buildings"
				data-rellax-speed="0">
				<div class="page-header-image page-header-city"
					style="background-image: url('../../assets/img/presentation-page/nuk-pro-buildings.png')">
				</div>
			</div>
			<div class="rellax-text-container">
				<h1 class="h1-seo rellax-text" data-rellax-speed="-2">
					<i class="now-ui-icons tech_mobile"></i> PHONE
				</h1>
			</div>
			<h3 class="h3-description rellax-text" data-rellax-speed="-1">Bạn
				Muốn Mua Những Sản Phẩm Mới ?</h3>

		</div>
		<div class="main">
			<div class="section section-images">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="hero-images-container">
								<img src="../assets/img/hero-image-1.png" alt="">
							</div>
							<div class="hero-images-container-1">
								<img src="../assets/img/hero-image-2.png" alt="">
							</div>
							<div class="hero-images-container-2">
								<img src="../assets/img/hero-image-3.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--  Hiện Thị Sản Phẩm -->

		<div class="section">
			<div class="container">

				<nav class="navbar navbar-expand-lg bg-primary">
					<div class="container">
						<div class="navbar-translate">
							<p class="navbar-brand" style="color: white;">Sản Phẩm Mới</p>
							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#example-navbar-primary"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-bar bar1"></span> <span
									class="navbar-toggler-bar bar2"></span> <span
									class="navbar-toggler-bar bar3"></span>
							</button>
						</div>

					</div>
				</nav>

				<div class="row">
					<div class="col-md-4" th:each="phone: ${listProductCustomer}">
						<div class="card card-product card-plain">
							<div class="card-image">
								<a
									th:href="@{'/customer_phone/phone_product_detail?id_phone_product='+${phone.getId_phone_product()}}">
									<img class="img rounded" th:src="@{${phone.getImage()}}" />
								</a>
							</div>
							<div class="card-body">
								<h4 class="card-title">
									<a
										th:href="@{'/customer_phone/phone_product_detail?id_phone_product='+${phone.getId_phone_product()}}"
										th:text="${phone.getName_phone_product()}"></a>
								</h4>
								<p class="card-description"
									th:each="khuyenMai:${listKhuyenMaiByEachPhoneProduct}"
									th:if="${khuyenMai.getId_phone_product()} == ${phone.getId_phone_product()}"
									th:text="${khuyenMai.getName_khuyen_mai()}"></p>

								<div class="card-footer">
									<div class="price-container">

										<div class="row">
											<div class="col-md-1"></div>
											<div class="col-md-10">
												<span class="price price-new"
													th:text="${#numbers.formatDecimal(phone.getPrice(), 0, 'COMMA', 0, 'POINT')}"
													style="margin-left: 100px; font-size: 20px;"></span>
											</div>
											<div class="col-md-1"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<nav class="navbar navbar-expand-lg bg-primary">
					<div class="container">
						<div class="navbar-translate">
							<p class="navbar-brand" style="color: white;">Bài Viết Giới
								Thiệu</p>
							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#example-navbar-primary"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-bar bar1"></span> <span
									class="navbar-toggler-bar bar2"></span> <span
									class="navbar-toggler-bar bar3"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="example-navbar-primary">
							<ul class="navbar-nav ml-auto">

								<li class="nav-item"></li>

							</ul>
						</div>
					</div>
				</nav>
				<br>
				<div class="row">
					<div class="col-md-4"
						th:each="listGioiThieuPhone:${listGioiThieuPhone}">
						<div class="card card-plain card-blog">
							<div class="card-image">
								<a th:href="@{'/customer/gioi-thieu-phone-product?id_gioi_thieu_phone_product='+${listGioiThieuPhone.idGioiThieu}}"> <img class="img rounded img-raised"
									th:src="@{${listGioiThieuPhone.image}}" />
								</a>
							</div>
							<div class="card-body">
								<h6 class="category text-info"
									th:text="${listGioiThieuPhone.loaiDienThoai}"></h6>
								<h4 class="card-title">
									<a th:href="@{'/customer/gioi-thieu-phone-product?id_gioi_thieu_phone_product='+${listGioiThieuPhone.idGioiThieu}}" th:text="${listGioiThieuPhone.title}">Autodesk
										looks to future of 3D printing with Project Escher</a>
								</h4>
								<p class="card-description"
									style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" th:text="${listGioiThieuPhone.post}">
									</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>