<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/mainLayout">
<head>
<meta charset="UTF-8">
</head>
<body class="blog-post" layout:fragment="content">
	<div class="wrapper">
		<div class="page-header page-header-small">
			<div class="page-header-image" data-parallax="true"
				style="background-image: url('../assets/img/bg32.jpg');"></div>
			<div class="content-center">
				<div class="row">
					<div class="col-md-8 ml-auto mr-auto">
						<h1 class="title">Kiểm Tra Đơn Hàng Của Bạn</h1>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="features-3">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="info info-hover">
						<div class="icon icon-success icon-circle">
							<i class="now-ui-icons objects_globe"></i>
						</div>
						<h4 class="info-title">
							<a href="#">Tất Cả Đơn Hàng</a>
						</h4>
						<p class="description">Bao Gồm Đơn Hàng Đã Được Duyệt Và Chưa Được Duyệt</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="info info-hover">
						<div class="icon icon-info icon-circle">
							<i class="now-ui-icons education_atom"></i>
						</div>
						<h4 class="info-title">
							<a href="#">Đang Chờ Duyệt</a>
						</h4>
						<p class="description">Bao Gồm Đơn Hàng Đã Chờ Duyệt</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="info info-hover">
						<div class="icon icon-primary icon-circle">
							<i class="now-ui-icons tech_watch-time"></i>
						</div>
						<h4 class="info-title">
							<a href="#">Đã Mua</a>
						</h4>
						<p class="description">Bao Gồm Đơn Hàng Đã Được Duyệt Và Thanh Toán</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>